.App{
  text-align: center;
  margin-top: 15px;
  font-weight: lighter;
}
.App.navbar-brand {
  font-weight: lighter;
  font-size: 18px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App #b1{
  font-size: 90;
}
.App .navbar {
  margin: 0 auto;
}